.grid {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    border: 2px solid black;
}

.square {
    width: 150px;
    height: 150px;
    font-size: 5rem;
    color:#e8e5e5;
    border: solid 1px black;
}

.square_o {
    background-color: rgb(87, 218, 21)
}

.square_x {
    background-color: crimson;
}

p{
    font-size: 3rem;
}

.reset {
    margin-top: 2rem;
    font-size: 2rem;
    background-color: black;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
    color: white;
}



  .big{
    max-height: 100vh;
    height: 100%;
  }
